*{
  font-family: 'Poppins', sans-serif;
}
.App {
  text-align: center;
}
.font{
  font-family: 'Courgette', cursive;
}
.font2{
  font-family: 'Kaushan Script', cursive;
}
.color1{
  color: #D82460;
}
.color11{
  background-color:  #D82460;
  border: none;
}

.color2{
    color: #2ACB35;
}
.color22{
    background-color: #2ACB35;
    border: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
